main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  max-width: 1360px;
  margin: 15em auto 15em;
}
h2 {
  padding: 0.5em;
  font-size: 2em;
  border-bottom: 1px solid rgba(95, 94, 94, 0.329);
  color: var(--primary-color);
}
p {
  padding: 1em;
  font-size: 1.2em;
}
