:root {
  --primary-color: #013b74;
  --secondary-color: #ebc622;
  --logo-color2: #b5b185;
}
.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
#wrapper {
  /* max-width: 1360px; */
  margin: 5em auto 5em;
  display: grid;
  align-items: center;
}
header {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
}

#banner {
  margin-top: 2em;
  justify-content: center;
  display: grid;
}

#logo {
  /* background-color:aqua; */
}
#logo img {
  padding: 1em;
  width: 150px;
}

#navList {
  display: flex;
  gap: 1em;
  /* background-color:red */
  /* font-size:1.2em; */
}
#navList a {
  text-decoration: none;
  text-transform: uppercase;
}
#navList a:hover {
  color: var(--logo-color2);
  transition: 0.5s ease;
}
#navList li {
  padding: 1em;
  color: #013b74;
  font-weight: bold;
}
.checkbtn {
  /* color: #fff; */
  font-size: 25px;
  cursor: pointer;
  display: none;
}
#check {
  visibility: hidden;
}
#wrapper {
  display: grid;
  gap: 4em;
  margin-top: 4em;
}
#offer {
  display: grid;
}
#offer h1 {
  text-align: center;
  /* color: rgb(178, 123, 34); */
  color: var(--primary-color);
  font-size: 2.5em;
  border-bottom: 1px solid var(--primary-color);
  padding: 0.2em;
}
#offer-content {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 1em;
}
#offer-content h2 {
  text-align: center;
  color: var(--primary-color);
  font-size: 1.5em;
}
#offer-content p {
  margin-top: 1em;
  color: rgb(75, 41, 41);
  font-size: 1.3em;
  background-color: white;
  padding: 1.5em;
  /* text-align: left; */
}
#contact-session ul {
  display: grid;
  gap: 1em;
}
#contact-session {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
footer {
  background-color: var(--primary-color);
  padding: 1em;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
footer h3 {
  margin-bottom: 1em;
  color: #ebc622;
  font-size: 1.2em;
}
/* #number {
  background-color: red;
}
#email {
  background-color: rgb(84, 175, 84);
} */
/* #footer-section {
  max-width: 1360px;
  margin: 0 auto;
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #banner > img {
    width: 100%;
  }
  #offer {
    display: grid;
    align-items: center;
  }
  #offer-content {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
  }
  footer {
    background-color: var(--primary-color);
    padding: none;
    color: white;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
    /* justify-items: center; */

    gap: 1em;
  }
  footer > div {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  header {
    align-items: flex-start;
  }
  #navBar {
    padding: 0 0.5em;
    /* color: rgb(107, 41, 41);
    background-color: rgb(21, 129, 129); */
  }
  #navList {
    flex-direction: column;
    /* color: rgb(107, 41, 41); */
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 5.7em;
    left: -100%;
    color: white;
    background-color: #6d80ac;
  }
  #navList a {
    color: white;
    padding: 1em;
  }
  #check:pressed {
    background-color: rgb(236, 208, 208);
  }
  #check:checked #navList {
    left: 0;
  }
  .checkbtn {
    display: block;
  }
  /* #check {
    display: block;
  } */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {}  */
