@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* font-family: OpenSans; */
}
a {
  color: inherit;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* p {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 300;
}
h1,
h2,
h3 {
  font-family: Roboto;
  font-weight: 600;
} */

/* @font-face {
  font-family: Roboto;
  src: url(font/roboto/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: OpenSans;
  src: url(font/open-sans/OpenSans-Regular.ttf);
  font-style: normal;
  font-weight: 100;
} */
