/* CSS reset */

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: OpenSans;
}
a {
  color: inherit;
}

p {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 300;
}
h1,
h2,
h3 {
  font-family: Roboto;
  font-weight: 600;
}

@font-face {
  font-family: Roboto;
  src: url(font/roboto/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: OpenSans;
  src: url(font/open-sans/OpenSans-Regular.ttf);
  font-style: normal;
  font-weight: 100;
}
